kubernetes:
  host: https://kubernetes.default

handbook:
  labels:
    group: com.stakater.platform
    provider: stakater
    version: {{ getenv "VERSION" }}
  service:
    name: "developerhandbook"
    annotations:
      xposer.stakater.com/annotations: |-
        kubernetes.io/ingress.class: external-ingress
        ingress.kubernetes.io/force-ssl-redirect: false
        certmanager.k8s.io/cluster-issuer: letsencrypt-production
        forecastle.stakater.com/appName: Developer-Handbook
        forecastle.stakater.com/expose: true
        forecastle.stakater.com/icon: https://raw.githubusercontent.com/stakater/ForecastleIcons/master/book.png
      config.xposer.stakater.com/IngressURLTemplate: "{{ `{{.Service}}.{{.Namespace}}.{{.Domain}}` }}"
      config.xposer.stakater.com/Domain: stackator.com
      config.xposer.stakater.com/TLS: "true"
      config.xposer.stakater.com/IngressNameTemplate: "{{ `{{.Service}}-{{.Namespace}}` }}"
    labels:
      expose: 'true'
  deployment:
    replicas: 1
    podLabels:      
      app: developer-handbook
    containerName: handbook
    imagePullSecrets: docker-registry-secret 
    image:
      name: {{ getenv "DOCKER_IMAGE" }}
      tag: "{{ getenv "VERSION" }}"


